---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="About me" sideBarActiveItemID="about">
  <div class="mb-5">
    <h1 class="w-full">About me</h1>
    <div class="pt-2 prose max-w-none text-lg">
      <p class="mb-3">Hello!</p>
      <p class="mb-3">
        I'm a people leader and software developer who has spent over a decade
        building exquisite experiences on web and mobile, primarily with Ruby on
        Rails, Elixir, React (Native), and Vue.js. I am product-focused,
        user-empathetic, and absolutely love building products that feel more
        like trusty sidekicks than tools. Learn more about my <a
          href="/experience/">experience</a
        > or take a look at my <a href="/work/">recent work</a>.
      </p>
      <p>
        Outside of work I love cooking, EVs, podcasts, travel points arbitrage,
        spending time with my family,
        <a href="https://letterboxd.com/jbrowning/">watching movies</a>, and the
        occasional trashy TV.
      </p>
    </div>
  </div>
</BaseLayout>
