---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="About me" sideBarActiveItemID="about">
  <div class="mb-5">
    <h1 class="w-full">About me</h1>
    <div class="pt-2 prose max-w-none">
      <p class="text-lg mb-3">
        I'm a highly-experienced team manager and software developer
        specializing in web and mobile apps. I'm a small-time Rails contributor
        and enjoy helping out with other open-source projects. You can learn
        more about my work experience <a href="/experience">over here.</a>
      </p>
      <p class="text-lg">
        Outside of development I love cooking, EVs, listening to podcasts,
        travel points arbitrage, spending time with my family,
        <a href="https://letterboxd.com/jbrowning/">watching movies</a>, and the
        occasional trashy TV.
      </p>
    </div>
  </div>
</BaseLayout>
