---
import BaseLayout from "../layouts/BaseLayout.astro";
import TimeLine from "../components/TimeLine.astro";

const skills = [
  "GenAI",
  "Python",
  "Django",
  "React Native",
  "Ruby on Rails",
  "Elixir",
  "Phoenix Framework",
  "VueJS / Vuex",
  "React / Redux",
  "Typescript / Node.js",
  "d3",
  "Slack API",
  "Stripe API",
  "AWS",
  "Google Cloud",
  "Firebase",
  "PostgreSQL",
  "Redis",
  "Docker / dokku",
];
---

<BaseLayout title="Experience" sideBarActiveItemID="experience">
  <div class="mb-5">
    <h1 class="w-full">Experience</h1>
  </div>

  <h2 class="w-full">Skills</h2>

  <div class="mb-5">
    {
      skills.map((skill) => (
        <span class="badge badge-outline mr-1 mb-2">{skill}</span>
      ))
    }
  </div>

  <div class="md:flex">
    <h2 class="w-full">Work History</h2>
    <a href="/resume.pdf" class="btn btn-outline btn-primary mb-5" download>
      Download Resume / CV
    </a>
  </div>

  <div class="timeline-container mb-5">
    <TimeLine
      title="Craft - Staff Software Engineer"
      subtitle="Sep 2023 — Present"
      skills={[
        "OpenAI",
        "Anthropic",
        "React Native",
        "Python",
        "Django",
        "Firebase/Google Cloud",
        "AWS",
      ]}
      url="https://heycraft.com"
    >
      <ul>
        <li class="mt-0">
          Architect and lead of development for Craft, a AI-first platform for
          deal execution
        </li>
        <li>
          Collaborate with fellow members of the leadership team to develop and
          execute GTM and product strategy
        </li>
      </ul>
    </TimeLine>
    <TimeLine
      title="Groove - Full-stack Developer"
      subtitle="Nov 2021 — Jun 2023"
      skills={["React Native", "Redux", "Firebase/Google Cloud", "Sanity"]}
      url="https://www.groove.ooo/"
    >
      <ul>
        <li class="mt-0">
          Implemented and improved many features including real-time chat,
          search, task management, and video calling
        </li>
        <li>Assisted with architectural decisions</li>
        <li>
          Assisted with the screening process as we built out the dev team
        </li>
      </ul>
    </TimeLine>
    <TimeLine
      title="Hubstaff - Frontend Architect"
      subtitle="Mar 2018 - Nov 2021"
      skills={["Ruby on Rails", "Vue.js", "Vuex", "d3"]}
      url="https://hubstaff.com/"
    >
      <ul>
        <li>Led the organization's migration from jQuery to Vue.js</li>
        <li>
          Established, documented, and enforced Vue.js/Vuex coding standards
        </li>
        <li>Implemented new interactive charts and visualizations</li>
      </ul>
    </TimeLine>
    <TimeLine
      title="Yala - CTO"
      subtitle="Jun 2016 - Nov 2021"
      skills={[
        "Elixir",
        "Phoenix Framework",
        "Vue.js",
        "PostgreSQL",
        "Redis",
        "ffmpeg",
        "Docker",
        "AWS",
      ]}
    >
      <ul>
        <li>
          Built the initial app from scratch to production-grade MVP in 6 months
        </li>
        <li>
          Scaled up the development team to a total of 5 &mdash; leveled up
          reports on Elixir and functional programming best practices
        </li>
        <li>
          Devised an algorithm to automatically schedule social posts based on
          engagement performance
        </li>
        <li>
          Developed an in-browser composer for images and stop-motion videos
        </li>
        <li>
          Implemented distributed pipelines for final rendering of custom images
          and videos
        </li>
        <li>Performed all DevOps responsibilities on AWS</li>
      </ul>
    </TimeLine>
    <TimeLine
      title="Pinecone - CTO"
      subtitle="Jun 2014 - Jul 2016"
      skills={[
        "Ruby on Rails",
        "AngularJS",
        "PostgreSQL",
        "Redis",
        "Elasticsearch",
        "AWS",
      ]}
    >
      <ul>
        <li>
          Led development and enforced proper code quality and test coverage
        </li>
        <li>
          Implemented marketplace payment system with the Balanced Payments and
          Stripe Connect APIs
        </li>
        <li>Co-founded the angular-foundation project</li>
        <li>Performed all DevOps responsibilities on AWS</li>
        <li>Assisted with pivoting the business to Yala (see above)</li>
      </ul>
    </TimeLine>
    <TimeLine
      title="Mad Mimi - Full-stack Developer and Project Lead"
      subtitle="Sep 2012 — Aug 2014"
      skills={[
        "Ruby on Rails",
        "AngularJS",
        "PostgreSQL",
        "Redis",
        "Elasticsearch",
        "AWS",
      ]}
    >
      <ul>
        <li>Created Mad Mimi's Etsy integration</li>
        <li>
          Led projects to improve analytics and implement e-commerce features
        </li>
        <li>
          Led the spinoff of what would become Pinecone (see above) during the
          GoDaddy acquisition
        </li>
      </ul>
    </TimeLine>
    <TimeLine title="Dead-end Corporate Job" subtitle="May 2008 — Sep 2012">
      <ul>
        <li>TPS reports, mostly.</li>
      </ul>
    </TimeLine>
  </div>

  <h2 class="text-3xl w-full font-bold mb-4">Education</h2>

  <div class="timeline-container">
    <TimeLine
      title="Brigham Young University"
      subtitle="2008: B.S. Information Systems Management"
    >
      Go Cougars
    </TimeLine>
  </div>
</BaseLayout>
