---
import { REPO_URL } from "../config";

const today = new Date();
---

<footer class="footer footer-center block mb-5 pt-10">
  <p class="mb-2 text-neutral">
    &copy; {today.getFullYear()} Jeff Browning
  </p>

  <p class="mb-2 text-neutral">Made with ❤️ in Carmel, Indiana</p>
  <p class="mb-2">
    <a class="text-primary" href={REPO_URL} target="_blank">🍴 me on GitHub</a>
  </p>
</footer>
<style></style>
