---
import ExternalLinkIcon from "./ExternalLinkIcon.astro";

const { title, subtitle, skills, url } = Astro.props;
---

<div class="flex">
  <div class="timeline-line-container">
    <span class="w-4 h-4 bg-primary block rounded-full mt-2"></span>
    <span
      class="timeline-line bg-primary block h-full w-[2px] translate-x-[7px]"
    ></span>
  </div>
  <div class="timeline-description-container bd-grid px-5">
    <h3 class="font-semibold mb-0">
      {
        url ? (
          <a href={url} target="_blank">
            {title}
            <span class="inline-block ml-1">
              <ExternalLinkIcon size={18} />
            </span>
          </a>
        ) : (
          title
        )
      }
    </h3>
    <p class="font-light text-sm mb-2">{subtitle}</p>
    {
      Array.isArray(skills) && (
        <>
          <div>
            {skills.map((skill: string) => (
              <span class="badge badge-outline mr-1 mb-1">{skill}</span>
            ))}
          </div>
        </>
      )
    }
    <div class="mt-2 mb-4 prose">
      <slot />
    </div>
  </div>
</div>
